{% extends 'backoffice/backoffice_template.twig' %}

{% block title %}Etes-vous sûr de vouloir supprimer ce jeu - {{ parent() }}{% endblock %}

{% block h1 %}Etes-vous sûr de vouloir supprimer ce jeu ?{% endblock %}

{% block content %}
    <p>Etes-vous sûr de vouloir supprimer ce jeu ?</p>
    <a href="{{ base_url() }}backoffice/jeux/validation/supprimer/{{ id }}"><button class="btn btn-default">OUI</button></a>

    <a href="{{ base_url() }}backoffice/jeux/"><button class="btn btn-default">NON</button></a>
{% endblock %}